gensim==3.8.3
en_core_web_sm==3.0.0
trafilatura==0.8.2
wordcloud==1.8.0
textblob==0.15.3
Flask==1.1.2
xx_ent_wiki_sm==3.0.0
nltk==3.5
spacy==3.0.6
pandas==1.0.4
many_stop_words==0.2.2
requests==2.23.0
numpy==1.18.4
matplotlib==3.2.1
beautifulsoup4==4.9.3
scikit_learn==0.24.2
